:root {
  --color: yellow;
  --spacing: 50px;
  --spacingMobile: 20px;
}

::selection {
  background-color: var(--color);
  color: black;
}

body {
  color: rgb( 150, 150, 150);
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

a {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  text-decoration: none;
  color: black;
  box-shadow: 0 10px 0 0 var(--color);
}
a:hover {
  background-color: var(--color);
}

em {
  color: black;
  font-style: italic;
  font-weight: 900;
  background-color: var(--color);
}

p, pre, .row, ul, ol {
  margin-left: var(--spacing) !important;
  line-height: 35px;
  margin-top: 40px;
  margin-bottom: 40px;
}

ul, ol {
  margin-top: 0px;
  padding-top: 0px;
}

li {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 3px;
  word-spacing: 10px;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

h2 {
  font-size: 60px;
  margin-top: 200px;
  background-color: var(--color);
}

h3 {
  font-size: 35px;
}

h4 {
  margin-left: var(--spacing);
}

/****************************************************************************************************************************************************/
/* hanne maes */

.hannemaesContainer {
  width: 100vw;
  text-align: right;
  font-size: 13px;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  padding: 20px;
}

.hannemaesLink {
  font-size: 17px !important;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  margin: 5px !important;
  margin-left: 0;
  box-shadow: none !important;
}

/****************************************************************************************************************************************************/
/* cover */

.cover {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 100px;
  background-color: var(--color);
}

.coverTitle {
  display: flex;
  text-align: center;
  display: inline;
}

.cover a {
  font-size: 50px;
  margin: 20px;
}

/****************************************************************************************************************************************************/
/* animating arrow */

.arrowContainer { /* so the animation does not push the rest of the content */
  height: 150px;
  width: 100px;
  cursor: pointer;

  /* so we can put the arrow at the bottom of this div */
  position: relative;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);

  /* put this at the bottom of the parent div */
  position:absolute;
  bottom:0px;

  /* animation */
  animation-name: arrowAnim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition-timing-function: ease-out;
}

@keyframes arrowAnim {
  0% { 
    margin-bottom: 100px;
    border-width: 0 0px 0px 0;
    opacity: 0;
  } 80% {
    margin-bottom: 10px;
    border-width: 0 5px 5px 0;
    opacity: 1;
  } 100% {
    margin-bottom: 0px;
    border-width: 0 0px 0px 0;
    opacity: 0;
  }
}

/****************************************************************************************************************************************************/
/* inhouds tafel */

.inhoudstabel {
  margin-top: 20px;
  font-size: 1.2em;
}

.inhoudstabel a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  box-shadow: none;
}

.subMenu {
  padding-left: 0px;
  margin-left: 0px;
  font-size: 0.7em;
  margin: 0px;
  list-style: none;
}

/****************************************************************************************************************************************************/
/* images */

img {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;

  max-width: 100%;
  height: auto;
}

.imgBrowser {
  margin: 20px;
}

/****************************************************************************************************************************************************/
/* code */

.code {
  background-color: rgb(29, 30, 34); /* same color as codepen editor bg */
  font-size: 15px;
  color: white;
  margin-top: 30px;
  display: inline;
  overflow: scroll;
}

pre {
  background-color: rgb(29, 30, 34); /* same color as codepen editor bg */
  width: 800px;
  max-height: 300px;
  overflow: scroll;
  padding: 30px;
}

/****************************************************************************************************************************************************/
/* flex box */

.column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
}

/****************************************************************************************************************************************************/
/* mobile */
/****************************************************************************************************************************************************/

@media only screen and (max-width: 700px) {

  body {
    font-size: 17px;
  }

  p {
    line-height: 25px;
    margin-left: var(--spacingMobile) !important;
    margin-right: var(--spacingMobile);
    margin-top: var(--spacingMobile);
    margin-bottom: var(--spacingMobile);
  }

  ul, ol {
    margin-left: var(--spacingMobile) !important;
  }

  li {
    margin-bottom: 0;
  }

  .cover a {
    font-size: 30px;
  }

  h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
    word-spacing: 0;
    margin-left: 0;
    padding-left: var(--spacingMobile);
    padding-right: var(--spacingMobile);
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
    margin-top: 100px;
  }

  h3 {
    font-size: 25px;
  }

  .inhoudstabel {
    margin-left: 0 !important;
  }
}